*{
  margin: 0;
  padding: 0;
font-family: 'DM Serif Display', serif;
}
/*ingen margin/padding om inte annat angivs */

.body{
  background-color:rgb(236, 228, 222) ;
}

/* har är menyraden*/

nav {
  background-color:rgb(218, 192, 162);
  display:flex;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  padding-top: 5%;
  position: sticky;
  top:0;
  z-index: 4;
}

.color {
color: rgb(255, 250, 250);
  text-decoration: none;
  font-size: 100%;
}

/*hemknappen ska sitta lite längre åt vänster */
.home {
  margin-left: 30%;
}

.art{
  margin-right: 70%;
}
/*för att undvika att kontakt lägger sig överst har vi en utfyllnad */

.utfyllning{
  background-color: rgb(218, 192, 162);
  /*color: white;
  text-decoration: underline;
  text-decoration-color: black;
  text-align: center;

*/
}


.kontakt{
  list-style-type: none;
  padding: 0;
  text-align: center;
  background-color: black;
  color: white;
}

/*Index style css*/

.container {
  color: black;
}
.hemimg {
  width: 100%;
}

.rubrik {
  font-size: 250%;
  color: black;
  text-align: center;
  align-self:self-end;
  z-index: 3;
font-family: 'DM Serif Display', serif;
}

#menytitel{
  text-align: center;
}

.mattitel{
  text-align: center;

}
.förrattmeny{
  background-color: rgb(218, 192, 162);
  text-align: center;
}

.mattiteltva{
  text-align: center;

}

.varmrattmeny{
  background-color: rgb(218, 192, 162);
  text-align: center;

}

.mattiteltre{
  text-align: center;

}
.efterrattmeny{
  background-color: rgb(218, 192, 162);
  text-align: center;

}

.drycktitel{
  text-align: center;

}

.dryck{
  background-color: rgb(218, 192, 162);
  margin-bottom: 10%;
  text-align: center;

}

.toppenknapp{
  color: white;
  text-decoration: none;
  font-size: 200%;
  background-color: black;
 text-align: center;
 text-decoration: underline;
}

.hittahit{
  color: white;
  text-decoration: none;
}
.hittahit:hover{
  background-color:rgb(108, 85, 59);
  text-decoration: underline;
  font-weight: bold;
}

.dropdown{
    display: none; /*dropdown menyn är osynlig*/
  }


/*slut index*/
/*ÖPPETIDER*/
.opentimes{
  font-family: 'DM Serif Display', serif;
  font-size: 200%;
  margin: 5% 0px 5% 0px;
}

.bokaknapp{
  background-color:rgb(235, 213, 189);
  color: black;
  border: 0px;
  padding: 5%;
  margin-top: 40px;
  font-size:30px;
}

/*byter färg när man pekar på den */

.bokaknapp:hover {
  background-color:rgb(163, 134, 100);
  color: white;
}
.oppetider{
  background-color:rgb(218, 192, 162);
  opacity: 100%;
}
#bildpahamtmat{
  margin: 20px;
}
.hamtmat{
  margin-top:25px;
  text-align: center;
}
/*slut ÖPPETIDER*/



/*Galleri*/
/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 0.8;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

#osynligtext{
  font-size: 200%;
  text-align: center;
font-style: italic;
margin-top: 20%;
margin-bottom: 10%;
}

.ren{
  width: 100%;
  height: 100%;

}

.imgfjall{
  width: 100%;
  height: 100%;
}

.lift{
  width: 100%;
  height: 100%;
}

.skog{
  width: 100%;
  height: 100%;
}

.sill{
  width: 100%;
  height: 100%;
}

.soppa{
  width: 100%;
  height: 100%;
}

.bar{
  width: 100%;
  height: 100%;
}

.disk{
  width: 100%;
  height: 100%;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.imgcontainer {
  position: relative;
  display: none;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 100%;
  left: 5%;
  color: white;
  font-size: 100%;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  right: 5%;
  color: black;
  font-size: 100%;
  cursor: pointer;
}

.text{
  text-align: center;
  margin-bottom: 5%;
}
/*Slut Galleri*/



/*när sidan blir mindre än 450px händer detta*/
@media only screen and (max-width: 450px){

/* Style The Dropdown Button */
  .dropbtn {
    background-color: rgb(218, 192, 162);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(214, 197, 163);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 3;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color:rgb(218, 192, 162)}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: rgb(214, 197, 163);
}

nav{
  display: none; /*menyraden försvinner när sidan är mindre än 450px*/
}

.dropdown{
  display: block; /*dropdown mneyn blir synlig när sidan är mindre än 450px*/
}

.utfyllning {
  display: none; /*utfyllnaden försvinner när sidan är mindre än 450px*/
}

#bildparestaurang {
  width: 100%;
  /*display: none; bilden försvinner när sidan är mindre än 450px*/

}
}
